#graph-1 {
    height: 100%;

    .node {
        padding: 10px;
    }

    #sourceNode {
        left: 100px;
        top: 100px;
    }

    #targetNode {
        left: 300px;
        top: 200px;
    }
}
:host {
    display: block;
    height: 100%;
    padding: 20px;
}